
body {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
}

img {
    display: block;
}

.main-table {
    background: linear-gradient(#eef7fd, #fcf2f4, #eef7fd);
}


.table-container {
    box-shadow: 0 3px 7px rgba(131,129,130, .75);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 50px;
}


.preheader .logo {
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.preheader .web-version {
    padding-right: 33px;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal;
    color: #5893ca;
}

.preheader .web-version a {
    color: #5893ca;
}

.menu td {
    border-right: 1px solid #fcdfe7;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu td:last-child {
    border: 0;
}

.text-hello td {
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 20px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #403d3d;
}

.text-hello td a {
    color: #5893ca;
}

.text-list td {
    padding-left: 33px;
    padding-right: 33px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #403d3d;
}

.shape-background {
    padding-bottom: 40px;
    background-image: url("img/shape-background.png");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.text-prove td {
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #403d3d;
}

.social-contacts,
.social-projects {
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    color: #b84a60;
}

.social-contacts {
    padding-left: 33px;
}
