body {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
}

img {
    display: block;
}

p {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #403d3d;
}

.main-table {
    background: linear-gradient(#eef7fd, #fcf2f4, #eef7fd);
}

.table-container {
    box-shadow: 0 3px 7px rgba(131, 129, 130, .75);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 50px;
}

.preheader {
    padding-left: 15px;
    padding-right: 33px;
    padding-bottom: 25px;
    padding-top: 20px;
}

.preheader .web-version {
    padding-top: 27px;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 11px;
    -webkit-text-size-adjust: 100%;
    line-height: 14px;
    font-weight: normal;
    color: #2886c8;
    vertical-align: middle;
}

.preheader .web-version a {
    color: #2886c8;
}

.menu td {
    padding-top: 13px;
    padding-bottom: 10px;
}

.menu .cell {
    border-right: 1px solid #fcdfe7;
}

.text-hello {
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 15px;
}

.text-hello a {
    color: #0070bb;
}

.shape-background {
    padding-bottom: 40px;
    background-image: url("img/shape-background.png");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.text-prove td {
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #403d3d;
}

.social-contacts,
.social-projects {
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    color: #b84a60;
}

.social-contacts {
    padding-left: 33px;
}